includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            message: '#Call to an undefined method Filament\\Contracts\\Plugin|Filament\\FilamentManager::(getDefaultLocales|getLocaleLabel)\(\)#'
            path: src/Pages/FlatPage.php
