includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    checkOctaneCompatibility: true
    checkModelProperties: true
    tmpDir: build/phpstan
    ignoreErrors:
        - '#Call to an undefined method Filament\\Forms\\Components\\Field::translatable\(\)#'
